.select-style {
  margin-left: 10px;
}

.modal-bg {
  background-color: #81cde5;
}

.button-grp {
  background-color: gray;
}

.close-bg {
  background-color: red;
}

.font-color {
  color: #81cde5;
}
