/* Landing Page css */

@import url("https://fonts.googleapis.com/css2?family=Karantina&family=Poppins:wght@100&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter&family=Karantina&family=Poppins:wght@100&display=swap");

* {
  font-family: "Karantina";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: auto;
}

.pushitrealgood {
  /* max-width: 200px; */
}

p {
  margin: 0;
}

/* .topbox {
  display: flex;
  flex-direction: column;
  border: 1px solid #81cde5;
  background-color: transparent;
  height: 120px;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 0px 10px #888888;
  min-width: 1000px;
} */

.header-class {
  font-size: 18px;
  position: relative;
  left: 200px;
}

.header-classimg {
  position: relative;
  bottom: 50px;
  background-image: url("../images/SignUpWizard.png");
}

.btn-login {
  /* position: relative; */
  padding-left: 13px;
  padding-right: 13px;
  background-color: white;
  border-radius: 15px;
  font-size: 25px;
  border: 2px solid #81cde5;
  color: #3992ae;
}

.btn-signup {
  /* position: relative; */
  margin-left: 10px;
  margin-bottom: 10px;
  padding-left: 13px;
  padding-right: 13px;
  background-color: #99ea99;
  border-radius: 15px;
  font-size: 25px;
  border: 2px solid #81cde5;
  color: #3992ae;
}

.workout {
  position: relative;
  bottom: 50px;
  height: 400px;
  min-width: 1000px;
}

.grey-box {
  /* position: relative;
  right: 90px;
  left: 240px; */
  justify-self: center;

  border: 2px solid #81cde5;
  background-color: lightgray;
  width: 500px;
  height: 275px;
  margin-bottom: 50px;
  border-radius: 20px;
}

.what-we-offer {
  margin-top: 15px;
  text-align: center;
  font-size: 30px;
}

.list {
  margin-top: 15px;
  font-size: 18px;
  padding-left: 10px;
}

.bottom-box {
  position: relative;
  right: 220px;
  left: 0px;
  background-color: #81cde5;
  /* min-width: 1000px; */
  height: 250px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.our-mission {
  margin-top: 0px;
  font-size: 25px;
  text-align: center;
  color: #ffd700;
}

.mission-paragraph {
  margin-top: 10px;
  font-size: 15px;
  text-align: center;
}

.btn-signup2 {
  margin-bottom: 10px;
  margin-left: 220px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: white;
  border-radius: 15px;
  font-size: 25px;
  border: 2px solid #81cde5;
  color: #3992ae;
  text-align: center;
}

.contact {
  position: relative;
  top: 85px;
  font-size: 10px;
  text-align: center;
}

.produced {
  position: relative;
  top: 90px;
  font-size: 8px;
  text-align: center;
}

.ladyImg {
  border-radius: 8px;
  margin-top: 52px;
  width: 100%;
  max-height: 350px;
}

.manwhatabox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
